<p>Доброго дня,</p>

<p>{{ order.user.first_name|capfirst }}, дякуємо за Ваше замовлення. Ми отримали інформацію про нього та
    найближчим часом обробимо Ваш запит. Номер Вашого замовлення: {{ order.id }}.</p>

<p>Деталі Вашого замовлення:</p>
<ul>
    <li>Телефон: {{ order.phone_number }}</li>
    <li>Email: {{ order.email }}</li>
    <li>Доставка:
        {% if order.requires_delivery %}
            адреса доставки: {{ order.delivery_address }}
        {% else %}
           Самовивіз
        {% endif %}

    </li>

    <li>Спосіб оплати:
        {% if order.payment_on_get %}
          готівкою/картою при отриманні
        {% else %}
            оплата картою
        {% endif %}
    </li>
</ul>

<p>Якщо у вас є питання або потрібна додаткова інформація, будь ласка, зв'яжіться з нами.</p>

<p>Дякуємо за покупку!</p>