<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>gaming shop</title>
</head>
<body>
    <main class="container-fluid">
        <!-- start header -->
        <header class="header">
            <!-- start nav -->
            <nav class="d-flex flex-wrap flex-column">
                <!-- start nav line1 -->
                <div class="nav_line1  row d-flex flex-wrap align-items-center justify-content-between">
                    <a href="" class="col-6 header-logo d-flex align-items-center ">
                        <img class="me-4" src="img/logo.svg" alt="logo">
                        <div>
                            gaming<br>shop
                        </div>
                    </a>
                    <div class="d-flex flex-wrap col-6 justify-content-between">
                        <a href="" >Про нас</a>
                        <a href="" >Доставка та оплата</a>
                        <a href="" >Контакти</a>
                        <a href="" >Графік роботи</a>
                    </div>
                </div>
                <!-- end nav line1 -->

                <!-- start nav line2 -->
                <div class="nav_line2  row d-flex flex-wrap align-items-center justify-content-between">
                    <div class="burger-menu d-flex align-items-center col-6">
                        <img class="me-4" src="img/burger.svg" alt="menu">
                        <div class="text-uppercase">
                            Каталог товарів
                        </div>
                    </div>
                    <div class="d-flex col-5 align-items-center">
                        <div class="search-input w-100">
                            <div class="d-flex">
                                <input type="text" placeholder="Пошук" class="col-10 col-xl-11 ms-2">
                                <button id="btn-search" class="col-2 col-xl-1">
                                    <img src="img/search-btn.svg" alt="search">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="d-flex col-1 ">
                        <div class="d-flex justify-content-between col-12">
                            <a href="" class="">
                                <img src="img/user-profile.svg" alt="profile">
                            </a>
                            <a href="" class="">
                                <img src="img/cart-fill.svg" alt="cart">                          
                            </a>
                        </div>
                        
                    </div>
                    
                </div>
                <!-- end nav line2 -->
            </nav>
            <!-- end nav -->
        </header>
        <!-- end header -->
        
        <!-- start content -->
        <div class="d-flex mt-4 row">
            <!-- start brands -->
            <div class="brands d-flex flex-column justify-content-between col-3">
                <a href="" class="brand col-10">
                    <div>
                        <img src="img/steelseries.svg" alt="steelseries" class="img-fluid w-100">
                    </div>
                </a>
                <a href="" class="brand col-10">
                    <div>
                        <img src="img/razer.svg" alt="razer" class="img-fluid w-100">
                    </div>
                </a>
                <a href="" class="brand col-10">
                    <div>
                        <img src="img/corsair.svg" alt="corsair" class="img-fluid w-100">
                    </div>
                </a>
                <a href="" class="brand col-10">
                    <div>
                        <img src="img/logitech.svg" alt="logitech" class="img-fluid w-100">
                    </div>
                </a>
                <a href="" class="brand col-10">
                    <div>
                        <img src="img/hyperx.svg" alt="hyperx" class="img-fluid w-100">
                    </div>
                </a>
            </div>
            <!-- end brands -->

            <!-- start slider -->
            <div class="slider d-flex col-9">
                <img src="img/slider-1.jpg" alt="banner-slide1" class="img-fluid w-100">
                <!-- <div class="arrows">
                    <img class="" src="img/left-arrow.svg" alt="left-arrow">
                    <img src="img/right-arrow.svg" alt="right-arrow">
                </div> -->
            </div>
            <!-- end slider -->
        </div>
        <div class="d-flex mt-4 row">
            <div class="top-title mb-4 text-uppercase">
                Кращі пропозиції
            </div>
            <div class="top-line1 d-flex flex-row justify-content-between">
                <!-- card1 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item1.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>
                    
                </a>
                <!-- card2 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item2.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>
                    
                </a>
                <!-- card3 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item3.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>
                    
                </a>
                <!-- card4 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item4.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>
                    
                </a>
            </div>
        </div>
        <!-- end content -->

        <!-- start footer -->
        <footer class="footer d-flex mt-4 row">
            <div class="d-flex flex-row my-5 justify-content-between">
                <div class="">
                    <div class="footer-title mb-4 ">
                        Покупцям
                    </div>
                    <div class="footer-links d-flex flex-column mb-0">
                        <a href="" class="mb-3">Доставка і оплата</a>
                        <a href="" class="mb-3">Гарантія</a>
                        <a href="" class="mb-3">Повернення</a>
                        <a href="" class="">Ремонт</a>
                    </div>
                </div>
                <div class="">
                    <div class="footer-title mb-4">
                        Інформація
                    </div>
                    <div class="footer-links d-flex flex-column mb-0">
                        <a href="" class="mb-3">Про нас</a>
                        <a href="" class="mb-3">Наші магазини</a>
                        <a href="" class="">Бренди</a>
                    </div>
                </div>
                <div class="">
                    <div class="footer-title mb-4">
                        Графік роботи
                    </div>
                    <div class="footer-links d-flex flex-column mb-0">
                        <div class="mb-3">Пн-Пт: 10:00-19:00</div>
                        <div class="mb-3">Сб: 10:00-18:00</div>
                        <div class="">Нд: Вихідний</div>
                    </div>
                </div>
                <div class="">
                    <div class="footer-title mb-4">
                        Контакти
                    </div>
                    <div class="footer-links d-flex flex-column mb-0">
                        <div class="mb-3">+380688935000</div>
                        <div class="">+380686556000</div>
                    </div>
                </div>
                <div class="">
                    <div class="footer-title mb-4">
                        Ми у соц. мережах
                    </div>
                    <div class="footer-links d-flex flex-row justify-content-between mb-0">
                        <a href="" class="network">
                            <img src="img/inst-ico.svg" alt="inst-link" class="image-fluid w-100">
                        </a>
                        <a href="" class="network">
                            <img src="img/youtube-ico.svg" alt="youtube-link" class="image-fluid w-100">
                        </a>
                        <a href="" class="network">
                            <img src="img/facebook-ico.svg" alt="facebook-link" class="image-fluid w-100">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
    </main>
    
</body>
</html>