

body{
    background-color: #151515;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    min-width: 320px;
}

a{
    text-decoration: none;
    color: white;
}
button{
    border: none;
}
.header a, .footer a{
    color: #FFF;
}
.header{
    background-color: chocolate;
}
.nav_line1{
    height: 50px;
    background-color: #000;
}
.nav_line2{
    height: 60px;
    background: rgb(92,39,254);
    background: linear-gradient(90deg, rgba(92,39,254,1) 0%, rgba(193,101,221,1) 100%);
}
.search-input{
    background-color: #FFF;
    border-radius: 10px;
}
.search-input, .search-input input{
    height: 40px;
    line-height: 40px;
}
.search-input input, #btn-search{
    border: 0px;
    background-color: transparent;
}
.search-input input::placeholder{
    color: #000;
}
.top-title{
    font-size: 24px;
}
.item{
    height: 500px;
    min-width: 300px;
    background-color: #000;
     /* box-shadow: inset #CF2EFF 0px 0px 20px 0px; */
    border: #CF2EFF solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.item-content{
    width: 250px;
}
.item-status-green{
    color: #00FF47;
}
.item-status-red{
    color: #ff0000;
}
.font-14px{
    font-size: 14px;
}
.sale-price{
    font-size: 22px;
    color: #CF2EFF;
    font-weight: bold;
}
.btn-add-to-cart{
    background-color: #FFF;
    color: #CF2EFF;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
}
.footer{
    background-color: #1D1D1D;
}
.footer-title{
    font-size: 20px;
    color: #CF2EFF;
}
.carousel-indicators img{
    max-width: 100px;
    display: block;
}
.carousel-indicators button{
    width: max-content!important;
    height: max-content!important;
}
.carousel-indicators{
    position: unset;
}

@media (max-width:1200px){


}
@media (max-width:991px){
    body{
        font-size: 14px;
    }
    
    .footer-title{
        font-size: 16px;
    }
}
