

body{
    background-color: #151515;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    min-width: 320px;
}

a{
    text-decoration: none;
    color: white;
}
button{
    border: none;
}
.header a, .footer a{
    color: #FFF;
}
.nav{
    height: 60px;
    font-size: 16px;
    background: rgb(92,39,254);
    background: linear-gradient(90deg, rgba(92,39,254,1) 0%, rgba(193,101,221,1) 100%);
}
.search-input{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
}
.search-input, .search-input input{
    height: 40px;
    line-height: 40px;
    color: #FFF;
}
.search-input input, #btn-search{
    border: 0px;
    background-color: transparent;
}
.search-input input::placeholder{
    color: rgb(255, 255, 255);
}
.block-title{
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.product-card{
    height: 450px;
    /*max-width: 305px;*/
    background-color: #000;
    border: #CF2EFF solid 1px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.product-card:hover{
    box-shadow: #CF2EFF 0px 0px 20px 0px;
    transition: box-shadow 0.3s;
}
.product-card-name{
    font-size: 16px;
    color: #FFFFFF;
}
.product-card-name:hover{
    color: #CF2EFF;
    transition: color 0.3s;
}
.product-card-content{
    width: 190px;
    height: 100%;
}
.product-card-id{
    color: #b3b3b3;
}
.product-card-id, .product-card-price{
    font-size: 14px;
}
.product-card-price{
    text-decoration-line: line-through;
    color: #b3b3b3;
}
.product-card-price-title{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.product-card-discount{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
}
.small-btn-add-to-cart{
    color: #FFFFFF;
    background-color: #CF2EFF;
    height: 34px;
    line-height: 34px;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.small-btn-add-to-cart:hover{
    background-color: #FFFFFF;
    color: #CF2EFF;
    transition: color 0.3s, background-color 0.3s;
}
.youtube-card{
    background-color: #151515;
}
.card-youtube-title{
    font-weight: 600;
    font-size: 16px;
}
.card-youtube-text{
    color: #8a8a8a;
    font-size: 14px;
}
.card-youtube-img{
    width: 100%;
}
.card-youtube-link:hover{
    color: #ff1f42;
    transition: color 0.3s;
}
.card-youtube-link:hover .card-youtube-img{
    scale: 1.02;
    transition: scale 0.3s;
}
.card-youtube-link:hover ~.card-youtube-text{
    color: #b3b3b3;
    transition: color 0.3s;
}
.btn-youtube-link{
    width: 170px;
    height: 34px;
    color: #FFFFFF;
    background-color: #FF0027;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 34px;
}
.btn-youtube-link:hover{
    background-color: #FFFFFF;
    color: #FF0027;
    transition: color 0.3s, background-color 0.3s;
}
.footer{
    background-color: #1D1D1D;
}
.footer-title{
    font-size: 20px;
    color: #CF2EFF;
}
.carousel-indicators img{
    max-width: 100px;
    display: block;
}
.carousel-indicators button{
    width: max-content!important;
    height: max-content!important;
}
.carousel-indicators{
    position: unset;
}

@media (max-width:1200px){


}
@media (max-width:991px){
    /* header */
    .nav{
        font-size: 12px;
    }
    .header img{
        scale: 0.7;
    }
    .search-input, .search-input input{
        height: 30px;
        line-height: 30px;
    }

    /* footer */
    .footer-title{
        font-size: 16px;
    }
    .footer-links{
        font-size: 12px;
    }
}
@media (max-width:767px){
    /* header */
    .nav{
        font-size: 12px;
    }
    .header img{
        scale: 0.6;
    }
    /* footer */
    .footer-title{
        font-size: 14px;
    }
    .footer img{
        scale: 0.7;
    }
    .footer-links{
        font-size: 12px;
    }
}
@media (max-width:575px){
    /* header */

    /* footer */
    .footer-title{
        font-size: 12px;
    }
    .footer img{
        scale: 0.6;
    }
    .footer-links{
        font-size: 10px;
    }
}