body{
    background-color: #1D1D1D;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #FFF;
}
a{
    text-decoration: none;
}
.header a {
    color: #FFF;
}
.header{
    font-size: 16px;
}
.nav_line1{
    height: 70px;
}
.nav_line2{
    height: 60px;
    background: rgb(92,39,254);
    background: linear-gradient(90deg, rgba(92,39,254,1) 0%, rgba(193,101,221,1) 100%);
}
.search-input, .search-input input{
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px 0px 0px 10px;
}
.search-input input{
    border: 0px;
}
.search-bth button{
    background-color: #D9D9D9;
    border: 0px;
}
.search-input input::placeholder{
    color: #1D1D1D;
}
.search-bth{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #D9D9D9;
    border-radius: 0px 10px 10px 0px;
}

.header-logo{
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
