

body{
    background-color: #151515;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    min-width: 320px;
}

a{
    text-decoration: none;
    color: white;
}
button{
    border: none;
}
.header a, .footer a{
    color: #FFF;
}
.nav{
    height: 60px;
    font-size: 16px;
    background: rgb(92,39,254);
    background: linear-gradient(90deg, rgba(92,39,254,1) 0%, rgba(193,101,221,1) 100%);
}
.search-input{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
}
.search-input, .search-input input{
    height: 40px;
    line-height: 40px;
    color: #FFF;
}
.search-input input, #btn-search{
    border: 0px;
    background-color: transparent;
}
.search-input input::placeholder{
    color: rgb(255, 255, 255);
}
.top-title{
    font-size: 24px;
}
.item{
    height: 500px;
    min-width: 300px;
    background-color: #000;
     /* box-shadow: inset #CF2EFF 0px 0px 20px 0px; */
    border: #CF2EFF solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.item-content{
    width: 250px;
}
.item-status-green{
    color: #00FF47;
}
.item-status-red{
    color: #ff0000;
}
.font-14px{
    font-size: 14px;
}
.sale-price{
    font-size: 22px;
    color: #CF2EFF;
    font-weight: bold;
}
.add-to-cart{
    background-color: #FFF;
    color: #CF2EFF;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
}
.footer{
    background-color: #1D1D1D;
}
.footer-title{
    font-size: 20px;
    color: #CF2EFF;
}
.carousel-indicators img{
    max-width: 100px;
    display: block;
}
.carousel-indicators button{
    width: max-content!important;
    height: max-content!important;
}
.carousel-indicators{
    position: unset;
}

@media (max-width:1200px){


}
@media (max-width:991px){
    /* header */
    .nav{
        font-size: 12px;
    }
    .header img{
        scale: 0.7;
    }
    .search-input, .search-input input{
        height: 30px;
        line-height: 30px;
    }

    /* footer */
    .footer-title{
        font-size: 16px;
    }
    .footer-links{
        font-size: 12px;
    }
}
@media (max-width:767px){
    /* header */
    .nav{
        font-size: 12px;
    }
    .header img{
        scale: 0.6;
    }
    /* footer */
    .footer-title{
        font-size: 14px;
    }
    .footer img{
        scale: 0.7;
    }
    .footer-links{
        font-size: 12px;
    }
}
@media (max-width:575px){
    /* header */
    
    /* footer */
    .footer-title{
        font-size: 12px;
    }
    .footer img{
        scale: 0.6;
    }
    .footer-links{
        font-size: 10px;
    }
}