

body{
    background-color: #151515;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    min-width: 320px;
}

a{
    text-decoration: none;
    color: white;
}
button{
    border: none;
}
.header a, .footer a{
    color: #FFF;
}
.header{
    background-color: chocolate;
}
.nav_line1{
    height: 70px;
    background-color: #000;
}
.nav_line2{
    height: 60px;
    background: rgb(92,39,254);
    background: linear-gradient(90deg, rgba(92,39,254,1) 0%, rgba(193,101,221,1) 100%);
}
.search-input{
    background-color: #FFF;
    border-radius: 10px;
}
.search-input, .search-input input{
    height: 40px;
    line-height: 40px;
}
.search-input input, #btn-search{
    border: 0px;
    background-color: transparent;
}
.search-input input::placeholder{
    color: #000;
}
.brand{
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
/* .slider{
    background-color: aqua;
}
.brands{
    background-color: rgb(255, 0, 0);
}
.container-fluid{
    background-color: greenyellow;
} */
.top-title{
    font-weight: bold;
    font-size: 24px;
}
.item{
    width: 300px;
    height: 500px;
    background-color: #000;
    box-shadow: inset #CF2EFF 0px 0px 20px 0px;
    border: #CF2EFF solid 1px;
    border-radius: 10px;
}
.item-content{
    width: 250px;
}
.item-status{
    color: #00FF47;
}
.font-14px{
    font-size: 14px;
}
.sale-price{
    font-size: 22px;
    color: #CF2EFF;
    font-weight: bold;
}
.btn-add-to-cart{
    background-color: #FFF;
    color: #CF2EFF;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
}
.footer{
    background-color: #1D1D1D;
}
.footer-title{
    font-size: 20px;
    color: #CF2EFF;
}



@media (max-width:1200px){
.brand{
    height: 60px;
}

}
@media (max-width:991px){
    body{
        font-size: 14px;
    }
    .brand{
        height: 50px;
    }
    .footer-title{
        font-size: 16px;
    }
}
@media (max-width:767px){
    .brand{
        height: 36px;
    }
}
