{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

<!-- Разметка корзины -->
{% if carts %}
    <div class="card mb-3 mt-3 text-bg-light shadow-lg">
        {% for cart in carts %}
            <div class="card-header">
                <h5 class="card-title">{{ cart.product.title }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row text-center d-flex align-items-center">
                        <div class="col-md-2 col-sm-4 p-0">
                            <a href="{% url 'goods:product' cart.product.slug  %}">
                                <img src="{{ cart.product.load_preview }}"
                                     alt="{{ cart.product_slug }}" class="img-fluid">
                            </a>

                        </div>
{#                        <div class="col-md-2 col-sm-4 p-0 ">#}
{#                            <small> Розмір: {{ cart.product.size }} </small>#}
{#                        </div>#}
                        <div class="col-md-2 col-sm-4 p-0">
                            <div class="input-group ">
                            <span class="input-group-btn d-flex align-items-stretch">
                                <button type="button" class="btn btn-dark btn-sm decrement"
                                        data-cart-id="{{ cart.id }}"
                                        data-cart-change-url="{% url 'carts:cart_change' %} ">{% csrf_token %}-
                                </button>
                            </span>
                                <input name="cart_quantity" type="text" class="form-control number"
                                       value="{{ cart.quantity }}">

                                <span class="input-group-btn d-flex align-items-stretch">
                                <button type="button" class="btn btn-dark btn-sm increment"
                                        data-cart-id="{{ cart.id }}"
                                        data-cart-change-url="{% url 'carts:cart_change' %} ">{% csrf_token %}+
                                </button>
                            </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 p-0"><small>x {{ cart.product.calculate_sell_price }} $</small>
                        </div>
                        <div class="col-md-2 col-sm-4 p-0"><strong>{{ cart.product_price }} $</strong></div>
                        <div class="col-md-2 col-sm-4 p-0">
                            <a href="{% url 'carts:cart_remove' %}" class="a-dark remove-from-cart"
                               data-cart-id="{{ cart.id }}">
                                {% csrf_token %}
                                <i class="fa-solid fa-trash" style="color: #060b13;"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endif %}


<div class="card mb-3 text-bg-light shadow-lg">
    <div class="card-footer">
        <div class="row">
            <div class="col p-0 d-flex align-items-center m-2 align-items-center">
                <a class="btn btn-dark" role="button" onclick="closeModalOrRedirect()">Продовжити покупки</a>
            </div>
            <div class="col green-stroke">
                <div class="row">
                    <div class="col justify-content-center text-center">
                        <p class="float-left">Усього <strong>{{ carts.total_quantity }}</strong> товар(ів) на суму</p>
                        <h4 class="float-left"><strong>{{ carts.total_price }} $</strong></h4>
                    </div>
                    {% if carts and not order %}
                        <div class="d-flex align-items-center col justify-content-center ">
                            <a class="btn btn-1 a-light text-center" href="#"
                               role="button">До замовлення</a>
{#                        {% url 'orders:create_order' %}#}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function closeModalOrRedirect() {
        if ($('#cart-modal').hasClass('show')) {
            $('#cart-modal').modal('hide');
        } else {
            window.location.href = "{% url 'goods:main' %}";
        }
    }
</script>