{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load goods_tags %}


{% block content %}
{% products_in_wishes_list request as products_in_wishes_list %}
    <div class="d-flex flex-column container-fluid container-xl main">
        <div class="row">
            <div class="d-flex justify-content-center">
                <p class="fs-4">{% if request.GET.title_search %}Результати пошуку "
                    <span class="text-success">{{ request.GET.title_search }}</span>"&nbsp;{% endif %}</p>

                {% if not products_qs %}
                    <p class="fs-4">Нічого не знайдено</p>
                {% endif %}
            </div>
        </div>

        <div class="d-flex flex-row-reverse my-3">
            <button class="btn btn-primary catalog-btn-filter d-flex align-items-center me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">
                <p class="me-2">Фільтри</p>
                <img src="{% static 'img/filter-ico.png' %}" alt="">
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                 aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel" style="color: #CF2EFF;">Фільтри</h5>
                    <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form method="get" class="py-0">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column py-0">
                                <label for="order_by" class="mb-2" style="color: #dcdcdc;">Сортування</label>
                                {{ filter.form.order_by }}
                            </div>
                            <div class="d-flex flex-column py-0 mt-4">
                                <label for="order_by" class="mb-2" style="color: #dcdcdc;">Виробник</label>
                                {{ filter.form.brand }}
                            </div>

                            {% get_min_max_prices %}
                            <div class="price-input-container mt-4">
                                <div class="mb-2" style="color: #dcdcdc;">Ціна</div>
                                <div class="price-input d-flex justify-content-between">
                                    <div class="price-field me-3">
                                        <input type="number" name="price__gte" step="any" class="min-input text-start"
                                               id="id_price__gte"
                                               value="{% if request.GET.price__gte %}{{ request.GET.price__gte }}{% else %}{{ min_price }}{% endif %}">
                                    </div>
                                    <div class="price-field">
                                        <input type="number" name="price__lte" step="any" class="max-input text-end"
                                               id="id_price__lte"
                                               value="{% if request.GET.price__lte %}{{ request.GET.price__lte }}{% else %}{{ max_price }}{% endif %}">
                                    </div>
                                </div>
                                <div class="slider-container">
                                    <div class="price-slider">
                                    </div>
                                </div>
                            </div>

                            <!-- Slider -->
                            <div class="range-input">
                                <input type="range"
                                       class="min-range"
                                       min="0"
                                       max="{{ max_price }}"
                                       value="{% if request.GET.price__gte %}{{ request.GET.price__gte }}{% else %}{{ min_price }}{% endif %}"
                                       step="1">
                                <input type="range"
                                       class="max-range"
                                       min="0"
                                       max="{{ max_price }}"
                                       value="{% if request.GET.price__lte %}{{ request.GET.price__lte }}{% else %}{{ max_price }}{% endif %}"
                                       step="1">
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-primary catalog-btn-use-filters mb-2">
                                    Застосувати фільтри
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 g-1">
            {% for product in products_qs %}
                {% if product.is_published %}
                    <div class="col mb-4">
                        <div class="card product-card">
                            <div class="product-card-content d-flex flex-column justify-content-between">
                                <div class="d-flex flex-column pt-4">
                                    <div class="product-card-id">
                                        <p>Код: {{ product.display_id }}</p>
                                    </div>
                                    <a href="{{ product.get_absolute_url }}">
                                        <div class="item-img">
                                            {% if product.preview %}
                                                <img src="{% get_media_prefix %}{{ product.preview }}"
                                                     class="img-fluid w-100"
                                                     alt="{{ product.title }}">
                                            {% else %}
                                                <img class="mg-fluid w-100"
                                                     src="{% static 'img/not_found.png' %}"
                                                     alt="{{ product.title }}"/>
                                            {% endif %}
                                        </div>
                                        <div class="product-card-name text-center mt-4">
                                            {{ product.title|truncatechars:100 }}
                                        </div>
                                    </a>
                                    <div class="d-flex flex-row justify-content-center mt-3">
                                    {% with rate=product.calculate_rate %}
                                        {% if rate == 0 %}
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        {% else %}
                                            {% for _ in 'x'|rjust:rate %}
                                                <span class="readonly-star">★</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                </div>
                                <div class="d-flex flex-column pb-4">
                                    <div class="d-flex justify-content-between align-items-end mb-4">
                                        <div class="d-flex flex-column justify-content-end">
                                        {% if product.discount %}
                                            <div class="d-flex flex-row align-items-end">
                                                <p class="product-card-price-title me-2">
                                                    Ціна
                                                </p>
                                                <p class="product-card-price">
                                                    {{ product.price }} ₴
                                                </p>
                                            </div>
                                            <p class="product-card-discount">
                                                {{ product.discount }} ₴
                                            </p>
                                        {% else %}
                                            <p class="product-card-price-title me-2">
                                                Ціна
                                            </p>
                                            <p class="product-card-discount">
                                                {{ product.price }} ₴
                                            </p>
                                        {% endif %}
                                    </div>
                                        <a href="{% url 'goods:add_to_wish_list' %}" class="add-to-wish-list"
                                           data-product-id="{{ product.id }}">
                                            {% csrf_token %}
                                            {% if product in products_in_wishes_list %}
                                                <i class="fa-solid fa-heart wish-icon"></i>
                                            {% else %}
                                                <i class="fa-regular fa-heart wish-icon"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                    {% if product.quantity > 0 %}
                                        <a href="{% url 'carts:cart_add' %}" class="small-btn-add-to-cart add-to-cart"
                                           data-product-id= {{ product.id }}>
                                            {% csrf_token %}
                                            До кошика
                                        </a>
                                    {% else %}
                                        <button type="button" class="small-btn-add-to-car-disabled" disabled>Немає на
                                            складі
                                        </button>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
{#        {% include 'includes/recently_viewed.html' %}#}
    </div>

{% endblock content %}

{% block paginator %}
    {% show_paginator paginator page_obj %}
{% endblock paginator %}
