{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load goods_tags %}


{% block content %}
    <aside class="d-none d-lg-flex d-xl-flex d-xxl-flex">
                <div class="sidebar">

                    <form method="get" class="offcanvas-body py-0">


                        <div class="d-flex flex-column">


                            <div class="d-flex flex-column py-2">
                                <label for="order_by">Оберіть сортування</label>
                                {{ filter.form.order_by }}
                            </div>
                            <div class="d-flex flex-column py-2">
                                <label for="order_by">Оберіть Бренди</label>
                                {{ filter.form.brand}}
                            </div>




                            <div>
                                <div class="d-flex flex-row justify-content-center align-items-center">

                                    {{ filter.form.price__gte }}
                                    {{ filter.form.price__lte }}
                                    <button type="submit" class="btn btn-secondary mb-2">
                                        Ок
                                    </button>
                                </div>
                                {% get_min_max_prices products_qs %}
                                <div class="row mx-1 mb-2">
                                    <div id="slider-range-lg" data-min-price="{{ min_price }}"
                                         data-max-price="{{ max_price }}"></div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary mb-2">
                                    Примінити фільтри
                                </button>
                            </div>
                        </div>

                    </form>


                </div>
            </aside>
    <div class="d-flex flex-column container-fluid container-xl main">
        <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 g-1 mx-0 mt-4">
            {% for product in products_qs %}
                {% if product.is_published %}
                    <div class="col mb-4">
                        <div class="card product-card">
                            <div class="product-card-content d-flex flex-column justify-content-between">
                                <div class="d-flex flex-column pt-4">
                                   <div class="product-card-id">
                                        <p>Код: {{ product.display_id }}</p>
                                    </div>
                                    <a href="{{ product.get_absolute_url }}">
                                        <div class="item-img">
                                            <img src="{% get_media_prefix %}{{ product.preview }}" class="img-fluid w-100"
                                                 alt="{{ product.title }}">
                                        </div>
                                        <div class="product-card-name text-center mt-4">
                                            {{ product.title|truncatechars:100 }}
                                        </div>
                                    </a>
                                </div>
                                <div class="d-flex flex-column pb-4">
                                    <div class="d-flex flex-column justify-content-end mb-4">
                                        {% if product.discount %}
                                            <div class="d-flex flex-row align-items-end">
                                                <p class="product-card-price-title me-2">
                                                    Ціна
                                                </p>
                                                <p class="product-card-price">
                                                    {{ product.price }} ₴
                                                </p>
                                            </div>
                                            <p class="product-card-discount">
                                                {{ product.discount }} ₴
                                            </p>
                                        {% else %}
                                            <p class="product-card-price-title me-2">
                                                Ціна
                                            </p>
                                            <p class="product-card-discount">
                                                {{ product.price }} ₴
                                            </p>
                                        {% endif %}
                                    </div>
                                    <a href="{% url 'carts:cart_add' %}" class="small-btn-add-to-cart"
                                       data-product-id= '{{ product.id }}'
                                       data-is-order = 'false'>
                                        {% csrf_token %}
                                        До кошика
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}

{% block paginator %}
    {% show_paginator paginator page_obj %}
{% endblock paginator %}
