{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid container-xxl main d-flex flex-column">
        <div class="d-flex flex-column info-about-us">
            <div class="block-title my-3">
                Покупцям
            </div>
            <div class="mt-3">
                <p class="mb-3" style="color: #b3b3b3;">
                    Ласкаво просимо до нашого інтернет-магазину геймерських товарів! Ми раді вітати вас у світі, де
                    захоплення ігровими пригодами перетворюється на реальність завдяки якісному обладнанню та
                    аксесуарам.
                </p>
                <div class="" id="delivery_info">
                    <h1 class="mb-2">
                        Доставка
                    </h1>
                    <p class="mb-3">
                        Ми пропонуємо зручні та швидкі способи доставки, щоб ваші покупки завжди прибували вчасно та в
                        найкращому стані.
                    </p>
                    <p class="mb-3">Доставка <span style="color: #ff2446;">Новою Поштою</span></p>
                    <ul class="mb-3">
                        <li>
                            Термін доставки: 1-2 робочі дні
                        </li>
                        <li>
                            Вартість: від 50 грн (залежить від регіону та ваги замовлення)
                        </li>
                        <li>
                            Безкоштовна доставка від 2000 грн.
                        </li>
                    </ul>
                    <p class="mb-3">Самовивіз з <a target="_blank"
                                                   href="https://www.google.com/maps/search/nexus+gaming+store/@29.7112064,-95.8124712,4z/data=!3m1!4b1?entry=ttu">пунктів
                        видачі</a></p>
                    <iframe class="mb-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6784621.024384762!2d-108.28848227499996!3d33.86896150000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865321e87eecd70f%3A0xccef817129edf076!2sNexus%20Game%20Lounge!5e0!3m2!1sru!2sus!4v1716995303047!5m2!1sru!2sus"
                            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h1 class="mb-2">
                        Оплата
                    </h1>
                    <p class="mb-3">
                        Для вашої зручності ми пропонуємо кілька варіантів оплати:
                    </p>
                    <ul class="mb-3">
                        <li>
                            Оплата готівкою при отриманні
                        </li>
                        <li>
                            Оплата карткою
                        </li>
                    </ul>
                </div>
                <div class="" id="guaranty_info">
                    <h1 class="mb-2">
                        Гарантія
                    </h1>
                    <p class="mb-3">
                        Nexus розуміє важливість надійності та якості геймерських товарів. Тому ми пропонуємо нашим клієнтам гарантію на всю продукцію, представлену в нашому магазині.
                    </p>
                    <p>Умови гарантії:</p>
                    <ul class="mb-3">
                        <li>
                            Точний термін гарантії вказаний у описі кожного товару.
                        </li>
                        <li>
                            Гарантія діє за умови дотримання правил експлуатації, вказаних у документації до товару.
                        </li>
                        <li>
                            Гарантія не поширюється на пошкодження, спричинені неправильним використанням, механічними ушкодженнями.
                        </li>
                    </ul>
                </div>
                <div class="" id="product_return_info">
                    <h1 class="mb-2">
                        Повернення
                    </h1>
                    <p class="mb-3">
                        Якщо товар не відповідає вашим очікуванням, ви маєте право повернути його протягом 14 днів з моменту отримання.</p>
                    <p>Процедура повернення товару:</p>
                    <ul class="mb-3">
                        <li>
                            Зв’яжіться з нашою службою підтримки за телефоном +380688935000 або електронною поштою NexusGamingStore@gmail.com.
                        </li>
                        <li>
                            Підготуйте товар до відправлення: збережіть оригінальну упаковку, повний комплект поставки, та супроводжувальні документи (гарантійний талон, чек).
                        </li>
                        <li>
                            Надішліть товар за адресою, яку вкаже наш менеджер.
                        </li>
                        <li>
                            У разі виявлення дефектів при отриманні товару на пошті, оплату за повернення оплачує компанія Nexus.
                        </li>
                    </ul>
                </div>
                <div class="" id="product_fix_info">
                    <h1 class="mb-2">
                        Ремонт
                    </h1>
                    <p class="mb-3">
                       В разі виявлення дефектів або несправностей під час гарантійного терміну ми безкоштовно ремонтуємо або замінюємо товар на новий.
                    </p>
                    <p>Процедура ремонту товару:</p>
                    <ul class="mb-3">
                        <li>
                            Зв’яжіться з нашою службою підтримки за телефоном +380688935000 або електронною поштою NexusGamingStore@gmail.com.
                        </li>
                        <li>
                            Підготуйте товар до відправлення: збережіть оригінальну упаковку, повний комплект поставки, та супроводжувальні документи (гарантійний талон, чек).
                        </li>
                        <li>
                            Надішліть товар за адресою, яку вкаже наш менеджер, оплату доставки сплачує компанія Nexus.
                        </li>
                        <li>
                            Після отримання товару, наші спеціалісти проведуть діагностику. Термін ремонту залежить від складності проблеми, але не перевищує 14 робочих днів.
                        </li>
                        <li>
                            Після завершення ремонту або заміни товар буде відправлений вам за наш рахунок.
                        </li>
                    </ul>
                </div>
                <p class="mb-3" style="color: #b3b3b3;">Дякуємо, що обрали наш магазин. Ми завжди раді вітати нових клієнтів і готові зробити все
                    можливе, щоб ваш ігровий досвід був на найвищому рівні. Ласкаво просимо у світ геймінгу разом з
                    нами!</p>
            </div>
        </div>
    </div>
{% endblock %}