{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load goods_tags %}

{% block nav %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-row p-2">
        <a href="{% url 'users:register' %}">Register</a>
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:logout' %}">Logout</a>
        {% if request.user.is_authenticated %}
            Hi, {{ request.user.first_name }}
        {% endif %}
    </div>

    {# Начало списка категорий #}
                    {% recursetree cats %}

                            <a href="{{ node.get_absolute_url }}" class="">{{ node.title }}</a>
                            {% with all_children=node.get_children %}
                                {% if all_children %}

                                {% for child in all_children %}
                                    <ul>
                                        <a class=""
                                               href="{{ child.get_absolute_url }}">{{ child.title }}</a>

                                        {% for child2 in child.get_children %}
                                            <a class=""
                                                   href="{{ child2.get_absolute_url }}">{{ child2.title }}</a>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}

                                {% endif %}
                        {% endwith %}

                    {% endrecursetree %}
    {#Конец списка категорий#}


    {# product card #}
    <div class="row">
        {% for product in products_qs %}
            <div class="col">
                <div class="card bg-dark" style="width: 18rem;">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% get_media_prefix %}{{ product.preview }}" alt=""
                             style="width: 200px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p>{{ product.price }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {# end product card #}


{% endblock content %}

{% block paginator %}
    {% show_paginator paginator page_obj %}
{% endblock paginator %}