{% extends 'base.html' %}
{% load static %}
{% load goods_tags %}

{% block content %}
    <div class="container">
        <section id="selling-product" class="single-product pt-3">
            <div class="row">
                <div class="col-4 flex-column">
                    <div id="carousel-product" class="carousel slide col-12" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ preview.image.url }}" class="d-block w-100" alt="">
                            </div>
                            {% for image in product.images.all|slice:"1:" %}
                                <div class="carousel-item">
                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="">
                                </div>
                            {% endfor %}
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-product"
                                    data-bs-slide="prev">
                                <img src="{% static 'img/left-arrow.svg' %}" alt="previous">
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-product"
                                    data-bs-slide="next">
                                <img src="{% static 'img/right-arrow.svg' %}" alt="next">
                            </button>

                        </div>

                        <div class="carousel-indicators d-flex justify-content-between col-12 m-0">
                            <button type="button" data-bs-target="#carousel-product"
                                    data-bs-slide-to="0" class="active">
                                <img src="{{ preview.image.url }}" class="img-fluid w-100">
                            </button>

                            {% for image in product.images.all|slice:"1:" %}
                                <button type="button" data-bs-target="#carousel-product"
                                        data-bs-slide-to="{{ forloop.counter }}">
                                    <img src="{{ image.image.url }}" class="img-fluid w-100">
                                </button>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="col-8">
                    info
                    <a href="{% url 'carts:cart_add' %}" class="add-to-cart"
                       data-product-id= {{ product.id }}>
                        {% csrf_token %}
                        До кошика
                    </a>
                </div>
            </div>
        </section>
        <div class="d-flex mt-4 row">
            <div class="top-title mb-4 text-uppercase">
                Схожі товари
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-between">
                <!-- card1 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item1.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>

                </a>
                <!-- card2 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item2.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>

                </a>
                <!-- card3 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item3.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>

                </a>
                <!-- card4 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item4.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>

                </a>
                <!-- card5 -->
                <a href="" class="d-flex item flex-column align-items-center justify-content-center">
                    <div class="item-content">
                        <div class="item-img">
                            <img src="img/item4.jpg" class="img-fluid w-100" alt="">
                        </div>
                        <div class="item-name text-uppercase text-center mt-4">
                            Some gaming headset with long name (Prodijital wireless JD-34q)
                        </div>
                        <div class="d-flex justify-content-between font-14px pt-4">
                            <p>
                                Код: 13893
                            </p>
                            <p class="item-status">
                                в наявності
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <div class="d-flex flex-column justify-content-between">
                                <p class="price font-14px text-decoration-line-through">
                                    12000 ₴
                                </p>
                                <p class="sale-price ">
                                    9999 ₴
                                </p>
                            </div>
                            <button class="btn-add-to-cart">
                                До кошика
                            </button>
                        </div>
                    </div>

                </a>
            </div>
        </div>
    </div>
{% endblock %}

