{% extends 'base.html' %}
{% load static %}
{% load goods_tags %}

{% block content %}
    <div class="d-flex flex-column container-fluid container-xl main">
        {% get_breadcrumbs product.cat %}
        <section id="selling-product" class="single-product">
            <div class="row">
                <div class="col-5 flex-column">
                    <div id="carousel-product" class="carousel slide col-12" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ preview.image.url }}" class="d-block w-100" alt="">
                            </div>
                            {% for image in product.images.all|slice:"1:" %}
                                <div class="carousel-item">
                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="">
                                </div>
                            {% endfor %}
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-product"
                                    data-bs-slide="prev">
                                <img src="{% static 'img/left-arrow.svg' %}" alt="previous">
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-product"
                                    data-bs-slide="next">
                                <img src="{% static 'img/right-arrow.svg' %}" alt="next">
                            </button>

                        </div>

                        <div class="carousel-indicators d-flex justify-content-between col-12 m-0">
                            <button type="button" data-bs-target="#carousel-product"
                                    data-bs-slide-to="0" class="active">
                                <img src="{{ preview.image.url }}" class="img-fluid w-100">
                            </button>

                            {% for image in product.images.all|slice:"1:" %}
                                <button type="button" data-bs-target="#carousel-product"
                                        data-bs-slide-to="{{ forloop.counter }}">
                                    <img src="{{ image.image.url }}" class="img-fluid w-100">
                                </button>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="col-7 d-flex flex-column">
                    <p class="product-title">
                        {{ product.title }}
                    </p>
                    <p class="product-base-info">
                        Код: {{ product.display_id }}
                    </p>
                    {% if product.quantity > 0 %}
                        <p class="product-available">
                            В наявності
                        </p>
                    {% else %}
                        <p class="product-not-available">
                            Немає в наявності
                        </p>
                    {% endif %}
                    <hr/>
                    <p class="product-base-info">
                        Виробник: Razer
                    </p>
                    <p class="product-base-info">
                        Гарантія: 12 міс.
                    </p>
                    <p class="product-base-info">
                        Колір: white
                    </p>
                    <p class="product-base-info">
                        Рейтинг:
                    </p>
                    <hr/>
                    <div class="d-flex flex-row align-items-center mt-3">
                        <div class="d-flex flex-column me-4">
                            {% if product.discount %}
                                <div class="d-flex flex-row">
                                    <p class="product-price-title me-3">
                                        Ціна
                                    </p>
                                    <p class="product-price">
                                        {{ product.price }} ₴
                                    </p>
                                </div>
                                <p class="product-discount mt-1">
                                    {{ product.discount }} ₴
                                </p>
                            {% else %}
                                <p class="product-price-title me-2">
                                    Ціна
                                </p>
                                <p class="product-discount mt-1">
                                    {{ product.price }} ₴
                                </p>
                            {% endif %}
                        </div>
                        <a href="{% url 'carts:cart_add' %}" class="big-btn-add-to-cart add-to-cart"
                           data-product-id= {{ product.id }}>
                            {% csrf_token %}
                            До кошика
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <ul class="nav-pills d-flex flex-row my-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description"
                        aria-selected="true">
                    Опис та характеристики
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill" data-bs-target="#pills-reviews"
                        type="button" role="tab" aria-controls="pills-reviews" aria-selected="false">
                    Відгуки
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-similar-tab" data-bs-toggle="pill" data-bs-target="#pills-similar"
                        type="button" role="tab" aria-controls="pills-similar" aria-selected="false">
                    Схожі товари
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class=" tab-pane fade show active" id="pills-description" role="tabpanel"
                 aria-labelledby="pills-description-tab">
                <div class="d-flex flex-row row g-5">
                    <div class="col-6">
                        <div class="product-tab-title mb-4">
                            Характеристики
                        </div>
                        <div class="d-flex flex-column">
                            <div class="mb-3 product-tab-features d-flex justify-content-between">
                                <p class="product-tab-features-prop">Виробник</p>
                                <p class="product-tab-features-value">HyperX</p>
                            </div>
                            <div class="mb-3 product-tab-features d-flex justify-content-between">
                                <p class="product-tab-features-prop">Підключення</p>
                                <p class="product-tab-features-value">Бездротове</p>
                            </div>
                            <div class="mb-3 product-tab-features d-flex justify-content-between">
                                <p class="product-tab-features-prop">Призначення</p>
                                <p class="product-tab-features-value">Для настільних ПК, для ноутбуків</p>
                            </div>
                            <div class="mb-3 product-tab-features d-flex justify-content-between">
                                <p class="product-tab-features-prop">Кількість клавіш</p>
                                <p class="product-tab-features-value">6</p>
                            </div>
                            <div class="mb-3 product-tab-features d-flex justify-content-between">
                                <p class="product-tab-features-prop">Інтерфейс</p>
                                <p class="product-tab-features-value">Радіоканал</p>
                            </div>
                            <div class="mb-3 product-tab-features d-flex justify-content-between">
                                <p class="product-tab-features-prop">Комплектація</p>
                                <p class="product-tab-features-value">Мишка, USB-приймач</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="product-tab-title mb-4">
                            Опис товару
                        </div>
                        <div class="d-flex flex-column">
                            <div class="product-tab-description">
                                <h6 class="product-tab-description-title mb-2">
                                    Час роботи батарей: 3 роки
                                </h6>
                                <p class="product-tab-description-text">
                                    Трирічний термін служби батарей допоможе вам зберегти свій час, свої гроші і свою
                                    планету - адже необхідність в заміні елементів живлення практично відсутня.
                                    Світловий індикатор повідомляє про низький рівень заряду батарей.
                                </p>
                                <br/>
                            </div>
                            <div class="product-tab-description">
                                <h6 class="product-tab-description-title mb-2">
                                    Надшвидкісна прокрутка
                                </h6>
                                <p class="product-tab-description-text">
                                    Прокручуйте документи і веб-сторінки одним рухом. Покрокова прокрутка забезпечує
                                    необхідну точність для переміщення за списками, слайдів і зображень.
                                </p>
                                <br/>
                            </div>
                            <div class="product-tab-description">
                                <h6 class="product-tab-description-title mb-2">
                                    Точне управління курсором
                                </h6>
                                <p class="product-tab-description-text">
                                    Функція оптичного відстеження від Logitech забезпечує точне управління курсором
                                    (1000 точок на дюйм) і плавне пересування по більшості видів поверхностей.
                                </p>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                {% include 'includes/review_block.html' %}
            </div>


            <div class=" tab-pane fade" id="pills-similar" role="tabpanel" aria-labelledby="pills-similar-tab">
                <div class="col-6 product-tab-title mb-4">
                    Товари, що можуть вас зацікавити
                </div>
                <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 g-1">
                    {% load_same_products product.cat_id product.id as same_products %}
                    {% for product in same_products %}
                        <div class="col mb-4">
                            <div class="card product-card">
                                <div class="product-card-content d-flex flex-column justify-content-between">
                                    <div class="d-flex flex-column pt-4">
                                        <div class="product-card-id">
                                            <p>Код: {{ product.display_id }}</p>
                                        </div>
                                        <a href="{{ product.get_absolute_url }}">
                                            <div class="item-img">
                                                <img src="{% get_media_prefix %}{{ product.preview }}"
                                                     class="img-fluid w-100"
                                                     alt="{{ product.title }}">
                                            </div>
                                            <div class="product-card-name text-center mt-4">
                                                {{ product.title|truncatechars:100 }}
                                            </div>
                                        </a>
                                    </div>
                                    <div class="d-flex flex-column pb-4">
                                        <div class="d-flex flex-column justify-content-end mb-4">
                                            {% if product.discount %}
                                                <div class="d-flex flex-row align-items-end">
                                                    <p class="product-card-price-title me-2">
                                                        Ціна
                                                    </p>
                                                    <p class="product-card-price">
                                                        {{ product.price }} ₴
                                                    </p>
                                                </div>
                                                <p class="product-card-discount">
                                                    {{ product.discount }} ₴
                                                </p>
                                            {% else %}
                                                <p class="product-card-price-title me-2">
                                                    Ціна
                                                </p>
                                                <p class="product-card-discount">
                                                    {{ product.price }} ₴
                                                </p>
                                            {% endif %}
                                        </div>
                                        <a href="{% url 'carts:cart_add' %}" class="small-btn-add-to-cart add-to-cart"
                                           data-product-id='{{ product.id }}'
                                           data-is-order='false'>
                                            {% csrf_token %}
                                            До кошика
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- end top-products -->
            </div>
        </div>

    </div>
{% endblock %}

