{% load static %}
{% load carts_tags %}

<!--test commit-->
<!-- start header -->
<header class="header sticky-top">
    <!-- start nav -->
    <nav class="d-flex flex-wrap flex-column">
        <div class="nav d-flex align-items-center">
            <div class="container-fluid container-xl d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex col align-items-center justify-content-between">
                    <a href="{% url 'goods:main' %}">
                        <img src="{% static 'img/NEXUS.svg' %}" alt="" class="img-fluid w-100">
                    </a>
                    {% block catalog %}
                        {% include 'includes/catalog.html' %}
                    {% endblock catalog %}
                    <a href="" class="d-none d-sm-flex">
                        Про нас
                    </a>
                    <a href="" class="d-none d-md-flex">
                        Доставка та оплата
                    </a>
                    <a href="" class="d-none d-sm-flex">
                        Контакти
                    </a>
                    <form method="get" action="{% url 'goods:search' %}"
                          class="search-input d-flex col-4 col-sm-2 col-lg-3 px-2 justify-content-between align-items-center">
                        <input type="text" name="title_search" class="col-10"
                               placeholder="Пошук"
                               value="{{ request.GET.title_search }}">
                        <button class="col-2 d-flex justify-content-end" id="btn-search">
                            <img src="{% static 'img/search-btn.svg' %}" alt="search">
                        </button>

                    </form>
                    {% user_carts request as carts %}
                    <div class="d-flex">
                        <a href="" class=" me-xl-4 me-ld-3 me-sm-2 me-1" data-bs-toggle="modal"
                           data-bs-target="#profile-modal">
                            <img src="{% static 'img/user-profile.svg' %}" alt="profile" class="img-fluid w-100">
                        </a>
                        <a type="button" data-bs-toggle="modal"
                           data-bs-target="#cart-modal" class="d-flex nav-cart-link me-xl-4 me-lg-3 me-sm-2 me-1">
                            <img src="{% static 'img/wish-list-ico.svg' %}" alt="wish list" class="img-fluid w-100">
                            <span class="nav-cart-quantity ms-xl-1 ms-0">38</span>
                        </a>
                        <a type="button" data-bs-toggle="modal"
                           data-bs-target="#cart-modal" class="d-flex nav-cart-link">
                            <img src="{% static 'img/cart-fill.svg' %}" alt="cart" class="img-fluid w-100">
                            <span class="goods-in-cart-count nav-cart-quantity ms-xl-1 ms-0">{{ carts.total_quantity }}</span>
                        </a>
                        {#                    <span class="badge bg-secondary text-white ms-1 rounded-pill goods-in-cart-count">{{ carts.total_quantity }}</span>#}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end nav -->
</header>
<!-- end header -->

<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content cart-modal">
            <div class="modal-header cart-header d-flex justify-content-between mx-3">
                <h5 class="modal-title modal-cart-title" id="exampleModalLabel2">Кошик</h5>
                <button type="button" style="color:#FFFFFF; background-color: #1D1D1D" data-bs-dismiss="modal"
                        aria-label="Close"><img
                        src="{% static 'img/x-icon.svg' %}" alt="close"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="container cart-items-container cart-body">
                    {% include 'carts/includes/included_cart.html' %}
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-profile">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Швидкі посилання</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body modal-profile-body">
                <!-- Строки с ссылками -->
                <div class="row mb-2">
                    <div class="col">
                        <a class="a-light" href="#">Про нас</a>
                    </div>
                </div>
                <hr class="my-2"> <!-- Серая полоса разделения -->
                <div class="row mb-2">
                    <div class="col">
                        <a class="a-light" href="#">Доставка та оплата</a>
                    </div>
                </div>
                <hr class="my-2">
                <div class="row mb-2">
                    <div class="col">
                        <a class="a-light" href="#">Контакти</a>
                    </div>
                </div>
                <hr class="my-2">
                <div class="container">
                    <div class="row ">

                        {% if request.user.is_authenticated %}
                            <div class="col  d-flex justify-content-center">
                                <a class="btn btn-light modal-profile-btn" href="{% url 'user:profile' %}"
                                   role="button">Кабінет</a>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <a class="btn btn-light modal-profile-btn" href="{% url 'user:logout' %}"
                                   role="button">Вийти</a>
                            </div>
                        {% else %}
                            <div class="col pt-2 d-flex justify-content-center">
                                <a class="btn btn-light modal-profile-btn" href="{% url 'user:login' %}" role="button">Вхід</a>
                            </div>
                            <div class="row pt-2">
                                <div class="col d-flex justify-content-center">
                                    <p style="color:#dcdcdc; margin-right: 1rem;">Немає акаунту?</p>
                                    <a href="{% url 'user:register' %}">Зареєструватись</a>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>