{% load static %}
{% load carts_tags %}


<!-- start header -->
<header class="header">
    <!-- start nav -->
    <nav class="d-flex flex-wrap flex-column">
        <!-- start nav line1 -->
        <div class="nav_line1 d-flex align-items-center">
            <div class="container-fluid container-xl d-flex flex-wrap align-items-center justify-content-between">
                <a href="{% url 'goods:main' %}" class="col-6 header-logo d-flex align-items-center ">
                    <img class="me-4" src="{% static 'img/logo.svg' %}" alt="logo">
                    <div>
                        gaming<br>shop
                    </div>
                </a>
                <div class="d-flex flex-wrap col-6 justify-content-between">
                    <a href="">Про нас</a>
                    <a href="">Доставка та оплата</a>
                    <a href="">Контакти</a>
                    <a href="">Графік роботи</a>
                </div>
            </div>
        </div>
        <!-- end nav line1 -->

        <!-- start nav line2 -->
        <div class="nav_line2 d-flex align-items-center">
            <div class="container-fluid container-xl d-flex flex-wrap align-items-center justify-content-between">
                <div class="burger-menu d-flex align-items-center col-6">
                    <img class="me-4" src="{% static 'img/burger.svg' %}" alt="menu">
                    <div class="text-uppercase">
                        Каталог товарів
                    </div>
                </div>
                <div class="d-flex col-5 align-items-center">
                    <div class="search-input w-100">
                        <div class="d-flex">
                            <input type="text" placeholder="Пошук" class="col-10 col-xl-11 ms-2">
                            <button id="btn-search" class="col-2 col-xl-1">
                                <img src="{% static 'img/search-btn.svg' %}" alt="search">
                            </button>
                        </div>
                    </div>

                </div>
                <div class="d-flex col-1 ">
                    <div class="d-flex justify-content-between col-12 ps-2">
                        <a href="" class="">
                            <img src="{% static 'img/user-profile.svg' %}" alt="profile" class="img-fluid w-100">
                        </a>
                        {% user_carts request as carts %}
                        <a type="button"
                           data-bs-toggle="modal"
                           data-bs-target="#cart-modal">
                            <img src="{% static 'img/cart-fill.svg' %}" alt="cart">
                            <span class="badge bg-secondary text-white ms-1 rounded-pill goods-in-cart-count">{{ carts.total_quantity }}</span>
                        </a>

                    </div>

                </div>
            </div>
        </div>
        <!-- end nav line2 -->
    </nav>
    <!-- end nav -->
</header>
<!-- end header -->

<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title " id="exampleModalLabel2">Кошик</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container cart-items-container">
                    {% include 'carts/includes/included_cart.html' %}
                </div>

            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>


