{% load static %}
{% load goods_tags %}

<h4>Переглянуті товари</h4>
<div id="simple-scroll" class="scrolling-wrapper-flexbox">
    {% get_recently_viewed_products as recently_viewed_qs %}
    {% for product in recently_viewed_qs %}
        {% if product.is_published %}
            <div class="col mb-4">
                <div class="card small-product-card small-card">
                    <div class="product-card-content d-flex flex-column justify-content-between">
                        <div class="d-flex flex-column pt-4">
                            <div class="product-card-id">
                                <p>Код: {{ product.display_id }}</p>
                            </div>
                            <a href="{{ product.get_absolute_url }}">
                                <div class="item-img">
                                    <img src="{% get_media_prefix %}{{ product.preview }}" class="img-fluid w-100"
                                         alt="{{ product.title }}">
                                </div>
                                <div class="small-product-card-name text-center mt-4">
                                    {{ product.title|truncatechars:100 }}
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column pb-4">
                            <div class="d-flex flex-column justify-content-end mb-4">
                                {% if product.discount %}
                                    <div class="d-flex flex-row align-items-end">
                                        <p class="small-product-card-price-title me-2">
                                            Ціна
                                        </p>
                                        <p class="product-card-price">
                                            {{ product.price }} ₴
                                        </p>
                                    </div>
                                    <p class="small-product-card-discount">
                                        {{ product.discount }} ₴
                                    </p>
                                {% else %}
                                    <p class="small-product-card-price-title me-2">
                                        Ціна
                                    </p>
                                    <p class="small-product-card-discount">
                                        {{ product.price }} ₴
                                    </p>
                                {% endif %}
                            </div>
                            <a href="{% url 'carts:cart_add' %}" class="small-btn-add-to-cart add-to-cart"
                               data-product-id='{{ product.id }}'
                               data-is-order='false'>
                                {% csrf_token %}
                                До кошика
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>