{% load static %}

<div class="review-container">
    <div class="d-flex flex-column">
        {# write review #}
        {% if request.user.is_authenticated %}
            <div class="add-review mb-2 col-md-6">
                <div class="half-star-ratings" data-rateyo-half-star="true"></div>
                <form id="review_form" class="form-group" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-end mb-2">
                            <label class='product-base-info' for="id_text">Коментар</label>
                            <div class="d-flex align-items-baseline justify-content-between">
                                <div class="rating">
                                    <span class="star" data-value="1">★</span>
                                    <span class="star" data-value="2">★</span>
                                    <span class="star" data-value="3">★</span>
                                    <span class="star" data-value="4">★</span>
                                    <span class="star" data-value="5">★</span>
                                </div>
                                <select name="rate" required="" id="id_rate" style="display: none">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <textarea class="form-control review-textarea" name="text" required=""
                                  id="id_text" placeholder="Ваші враження від товару"></textarea>

                    </div>
                    <button type="submit" name="submit"
                            class="btn-add-review">Залишити відгук
                    </button>

                </form>

            </div>
        {% else %}
            <div class="mb-3">
                <p class="product-base-info">Зареєструйтеся, щоб залишити відгук</p>
            </div>
            <div class="d-flex flex-row align-items-center">
                <a class="btn btn-light me-3" href="/user/login/" role="button">Вхід</a>
                <a class="btn btn-light" href="/user/register/">Реєстрація</a>
            </div>
        {% endif %}

        {# end write review #}

        {# start review #}
        {% if not reviews_qs %}
            <div class="product-base-info p-0 mb-3">
                На цей товар поки що немає відгуків, станьте першим!
            </div>
        {% else %}
            {% for review in reviews_qs %}
                <div class="d-flex flex-column product-tab-review">
                    <div class="d-flex flex-row">
                        <div class="review-user-avatar me-4">
                            <img src="

                                    {% if review.user.image %}{% get_media_prefix %}{{ review.user.image }}{% else %}{% static 'img/non-avatar.svg' %}{% endif %}"
                                 alt="review">
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <p class="review-user-name">{{ review.user }}</p>
                            <div class="review-user-rating">
                                {% for _ in 'x'|rjust:review.rate %}
                                    <span class="readonly-star">★</span>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    {% if request.user == review.user or request.user.is_superuser %}
                        <div class="d-flex justify-content-end">
                            <button type="submit" name="submit"
                                    class="btn-delete-review"
                                    style="background-color: #151515"
                                    data-review_id='{{ review.id }}'
                                    data-product_id='{{ product.id }}'
                                    data-view_url="{% url 'goods:remove_review' %}"
                            ><i class="fa-solid fa-trash" style="color: #ff0000;" aria-hidden="true"></i>
                            </button>
                        </div>
                    {% endif %}
                    <p class="review-text mt-3">
                        {{ review.text }}
                    </p>
                    {{ review.date }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>