{% load static %}

    <div class="review-container">
<div class="d-flex flex-column">
    {# write review #}
    {% if request.user.is_authenticated %}
        <div class="add-review mt-5">
            <div class="half-star-ratings" data-rateyo-half-star="true"></div>
            <form id="review_form" class="form-group" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="id_text">Текст:</label>
                <textarea name="text" cols="40" rows="10" maxlength="500" required=""
                          id="id_text"></textarea>

                <label for="id_rate">Rate:</label>

                <div class="rating">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>
                <select name="rate" required="" id="id_rate" style="display: none">
                    <option value="1">1 звезда</option>
                    <option value="2">2 звезды</option>
                    <option value="3">3 звезды</option>
                    <option value="4">4 звезды</option>
                    <option value="5">5 звезд</option>
                </select>

                <button type="submit" name="submit"
                        class="btn-add-review">Залишити відгук
                </button>
            </form>
        </div>
    {% endif %}
    {# end write review #}

        {# start review #}
        {% for review in reviews_qs %}
            <div class="d-flex flex-column product-tab-review">
                <div class="d-flex flex-row">
                    <div class="review-user-avatar me-4">
                        <img src="


                                {% if review.user.image %}{% get_media_prefix %}{{ review.user.image }}{% else %}{% static 'img/non-avatar.svg' %}{% endif %}"
                             alt="review">
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <p class="review-user-name">{{ review.user }}</p>
                        <div class="review-user-rating">
                            {% for _ in 'x'|rjust:review.rate %}
                                <span class="readonly-star">★</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% if request.user == review.user or request.user.is_superuser %}
                        <button type="submit" name="submit"
                                class="btn btn-danger btn-delete-review"
                                data-review_id='{{ review.id }}'
                                data-product_id='{{ product.id }}'
                                data-view_url="{% url 'goods:remove_review' %}"
                        >Видалити відгук
                        </button>
                    {% endif %}
                </div>
                <p class="review-text mt-3">
                    {{ review.text }}

                </p>
            {{ review.date }}
            </div>
        {% endfor %}
    </div>
</div>