{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="container mt-4 main">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-sm-8 col-11 sign-form-info">
                <form action="{% url 'user:login' %}" method="post">

                    <h2 class="block-title mb-3">{{ title }}</h2>
                    {% csrf_token %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <div class="d-flex justify-content-between mb-3">
                        <p>Немає акаунта?</p>
                        <a class="a-blue" href="{% url 'users:register' %} ">Зареєструватися</a>
                    </div>
                    <div class="mb-3">
                        <label for="id_username" class="form-label">E-mail</label>
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                <span class="form-error-1 text-center">{{ form.username.errors }}</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <input type="text" class="form-control" name="username" id="id_username"
                               placeholder="Введіть E-mail" required>
                    </div>

                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <label for="id_password" class="form-label">Пароль</label>
                            <a href="{% url 'users:password_reset' %}" class="text-center">Забули пароль?</a>
                        </div>
                        <div class="form-error-1 text-center">{{ form.password.errors }}</div>
                        <input type="password" class="form-control" name="password" id="id_password"
                               placeholder="Введіть пароль" required>
                    </div>

                    <div class="d-flex flex-column">
                        <button type="submit" class="btn btn-login text-center mb-4">Увійти</button>
                    </div>
                </form>
                <p class="mt-4 mb-2">Маєте акаунт Google?</p>
                <a href="{% provider_login_url 'google' %}" class="gsi-material-button-contents a-dark">
                    <button class="gsi-material-button">
                        <div class="gsi-material-button-state"></div>
                        <div class="gsi-material-button-content-wrapper">
                            <div class="gsi-material-button-icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 48 48"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                                    <path fill="#EA4335"
                                          d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                    <path fill="#4285F4"
                                          d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                    <path fill="#FBBC05"
                                          d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                    <path fill="#34A853"
                                          d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                    <path fill="none" d="M0 0h48v48H0z"></path>
                                </svg>
                            </div>
                            <p class="login-btn-google">Увійти з Google</p>
                        </div>
                    </button>
                </a>
            </div>
        </div>
    </div>

{% endblock content %}