{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="container-fluid container-xl main px-3">
        <h2 class="block-title my-3">{{ title }} користувача {{ form.username.value }}</h2>
        <div class="d-flex row">
            <form action="{% url 'user:profile' %}" method="post" enctype="multipart/form-data"
                  class="profile-info d-flex flex-column mb-3 col-4">
                {% csrf_token %}
                <div class="d-flex justify-content-center">
                    {% if form.image.errors %}
                        <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                            <span class="form-error-1 text-center">{{ form.image.errors }}</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <div class="d-flex">
                        <label for="file" class="feedback__label">
{#                            <img src="{% static 'img/edit-ico.svg' %}" alt="edit">#}
                            <div class="text-center mb-3 profile-user-avatar">
                                <img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'img/non-avatar.svg' %}{% endif %}"
                                     alt="Фото користувача" class="">
                            </div>
                        </label>
                        <input type="file" id="file" class="form-control feedback__file" name="image"
                               value="{{ form.image.value }}"
                               accept="image/*" onchange="displayFileName()" hidden>
                    </div>

                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column">
                        {# login #}
                        <div class="d-flex flex-column">
                            <label for="id_username" class="form-label mb-1">Нікнейм:</label>
                            {% if form.username.errors %}
                                <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                    <span class="form-error-1 text-center">{{ form.username.errors }}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <input type="text" class="form-control" name="username" value="{{ form.username.value }}"
                                   id="id_username"
                                   placeholder="Введіть ваш нік">
                        </div>
                        {# name #}
                        <div class="d-flex flex-column">
                            <label for="id_first_name" class="form-label mb-1">Ім'я:</label>
                            {% if form.first_name.errors %}
                                <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                    <span class="form-error-1 text-center">{{ form.first_name.errors }}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <input type="text" class="form-control" name="first_name"
                                   value="{{ form.first_name.value }}"
                                   id="id_first_name"
                                   placeholder="Введіть ваше ім'я">
                        </div>
                        {# surname #}
                        <div class="d-flex flex-column">
                            <label for="id_last_name" class="form-label mb-1">Прізвище:</label>
                            {% if form.last_name.errors %}
                                <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                    <span class="form-error-1 text-center">{{ form.last_name.errors }}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <input type="text" class="form-control" name="last_name" value="{{ form.last_name.value }}"
                                   id="id_last_name"
                                   placeholder="Введіть ваше прізвище">
                        </div>
                        {# E-mail #}
                        <div class="d-flex flex-column">
                            <label for="id_email" class="form-label mb-1">E-mail:</label>
                            {% if form.email.errors %}
                                <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                    <div class="form-error-1 text-center">{{ form.email.errors }}</div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <input type="email" class="form-control" name="email" value="{{ form.email.value }}"
                                   id="id_email"
                                   placeholder="Введіть вашу пошту">
                        </div>
                        {# phone #}
                        <div class="d-flex flex-column">
                            <label for="id_phone_number" class="form-label mb-1">Тел.:</label>
                            {% if form.phone_number.errors %}
                                <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                                    <span class="form-error-1 text-center">{{ form.phone_number.errors }}</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <input type="text" class="form-control" name="phone_number"
                                   value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                                   id="id_phone_number"
                                   placeholder="Введіть ваш номер телефону">
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <button type="submit" class="profile-info-btn-save mb-4">Зберегти зміни</button>
                        <div class="profile-info-password">
                            <a href="{% url 'users:password_change' %}" class="a-blue">Змінити пароль</a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-8 ps-3">
                {% if orders %}
                    {% include 'includes/orders_list.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}