{% load static %}
<div class="d-flex flex-column">
    <!-- Разметка заказов -->
    <div class="accordion" id="accordionExample">
        {% for order in orders %}
            <div class="accordion-item orders-list">
                <h2 class="accordion-header orders-list-header" id="heading{{ order.id }}">
                    <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ order.id }}" aria-expanded="false"
                            aria-controls="collapse{{ order.id }}"
                            aria-controls="collapse{{ order.id }}"
                            aria-expanded="{% if order == orders.0 %}true{% else %}false{% endif %}">
                        <div class="d-flex flex-column">
                            <p class="text-secondary">Замовлення №{{ order.id }} </p>
                            <p class="text-secondary">{{ order.created_timestamp }}</p>
                            {% if order.status != 'Скасовано' %}
                                <strong class="text-success">{{ order.status }}</strong>
                            {% else %}
                                <strong class="text-danger">{{ order.status }}</strong>
                            {% endif %}

                        </div>

                    </button>
                </h2>
                <div id="collapse{{ order.id }}"
                     class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %} p-3"
                     aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="d-flex flex-column">
                            <div class="d-flex">
                                <div class="d-flex flex-column orders-list-info me-4">
                                    <p class="order-tile__label mb-2">Контактна інформація</p>
                                    <p class="mb-2">{{ order.user.last_name }} {{ order.user.first_name }}</p>
                                    <p class="mb-2">{{ order.email }}</p>
                                    <p class="mb-2">{{ order.phone_number }}</p>
                                </div>
                                <div class="d-flex flex-column orders-list-info me-4">
                                    <p class="order-tile__label mb-2">Оплата</p>
                                    {% if order.payment_on_get %}
                                        <p>Накладний платіж</p>
                                    {% else %}
                                        <p>Оплата картою</p>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-column orders-list-info">
                                    <p class="order-tile__label mb-2">Доставка</p>
                                    {% if order.requires_delivery %}
                                        <p class="mb-2">Нова пошта</p>
                                        <p>{{ order.delivery_address }}</p>
                                    {% else %}
                                        <p>Самовивіз</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="">
                                <table class="cart-table">
                                    <thead>
                                    <td colspan="2" class="col-7">Найменування</td>
                                    <td class="col-2">Ціна</td>
                                    <td class="col-1">Кількість</td>
                                    <td class="col-2">Сума</td>
                                    </thead>
                                    <tbody>
                                    {% for item in order.orderitem_set.all %}
                                        <tr>
                                            <td class="p-0">
                                                <a href="{% url 'goods:product' item.product_slug %}">
                                                    <img src="
                                                            {% get_media_prefix %}{{ item.product.images.first.image }}"
                                                         alt="{{ item.product.title }}"
                                                         class="img-fluid cart-img">
                                                </a>
                                            </td>
                                            <td class="text-start">
                                                <a href="{% url 'goods:product' item.product.slug %}">
                                                    <p>{{ item.product.title }}</p>
                                                </a>
                                            </td>
                                            <td>
                                                <p>{{ item.price }} ₴</p>
                                            </td>
                                            <td>
                                                <p>{{ item.quantity }}</p>
                                            </td>
                                            <td>
                                                <p>{{ item.products_price }} ₴</p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-end" style="color: #b3b3b3;">
                                            <p>Загальна сума</p>
                                        </td>
                                        <td>
                                            <p>{{ order.orderitem_set.total_price }} ₴</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-end" style="color: #b3b3b3;">
                                            <p>Вартість доставки за тарифом перевізника</p>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
{#                                    <dt class="order-tile__label">Товар</dt>#}
{#                                    <div class="d-flex flex-row align-items-center">#}
{#                                        <a href="{% url 'goods:product' item.product_slug %}"#}
{#                                           class="order-tile__picture">#}
{#                                            <img src="{% get_media_prefix %}{{ item.product.images.first.image }}"#}
{#                                                 alt="{{ item.product.title }}">#}
{#                                        </a>#}
{#                                        <a href="{% url 'goods:product' item.product_slug %}"#}
{#                                           class="a-blue">#}
{#                                            {{ item.product.title }}#}
{#                                        </a>#}
{#                                    </div>#}
{##}
{#                                    <dl class="order-tile__options justify-content-between">#}
{#                                        <div class="order-tile__option--left">#}
{#                                            <dt class="order-tile__label">Ціна</dt>#}
{#                                            <dd class="order-tile__digit">{{ item.price }}<span#}
{#                                                    class=" currency">₴</span></dd>#}
{#                                        </div>#}
{##}
{#                                        <div class="order-tile__option order-tile__option--quantity">#}
{#                                            <dt class="order-tile__label">Кількість</dt>#}
{#                                            <dd class="order-tile__digit">{{ item.quantity }}</dd>#}
{#                                        </div>#}
{#                                        <div class="order-tile__option--right">#}
{#                                            <dt class="order-tile__label">Сума</dt>#}
{#                                            <dd class="order-tile__digit"><span#}
{#                                                    class="order-tile__price">{{ item.products_price }}<span#}
{#                                                    class=" currency">₴</span></span><!----></dd>#}
{#                                        </div>#}
{#                                    </dl>#}
{#                                {% endfor %}#}
{#                                <hr class="separator">#}
{#                                <div class="d-flex flex-column">#}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <p class="order-tile__label">Спосіб оплати</p>#}
{#                                        {% if order.payment_on_get %}#}
{#                                            <p>Готівкою/картою при отриманні</p>#}
{#                                        {% else %}#}
{#                                            <p>Оплата картою</p>#}
{#                                        {% endif %}#}
{##}
{#                                    </div>#}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <p class="order-tile__label">Статус</p>#}
{#                                        <p>{{ order.status }}</p>#}
{##}
{#                                    </div>#}
{##}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <p class="order-tile__label">Доставка</p>#}
{#                                        {% if order.requires_delivery %}#}
{#                                            <p>На адресу: {{ order.delivery_address }}</p>#}
{#                                        {% else %}#}
{#                                            <p>Самовивіз</p>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <p class="order-tile__label">Разом:</p>#}
{#                                        <h4>{{ order.orderitem_set.total_price }} ₴</h4>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>