{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form method="post">
                    <h2 class="text-center">{{ title }}</h2>
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_old_password" class="form-label">Старий пароль</label>
                        <div class="form-error-1 text-center">{{ form.old_password.errors }}</div>
                        <input type="password" class="form-control" name="old_password" id="id_old_password"
                               placeholder="Введіть ваш старий пароль" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_new_password1" class="form-label">Новий пароль</label>
                        <div class="form-error-1 text-center">{{ form.new_password1.errors }}</div>
                        <input type="password" class="form-control" name="new_password1" id="id_new_password1"
                               placeholder="Введіть пароль" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_new_password2" class="form-label">Повторіть пароль</label>
                        <div class="form-error-1 text-center">{{ form.new_password2.errors }}</div>
                        <input type="password" class="form-control" name="new_password2" id="id_new_password2"
                               placeholder="Введіть пароль" required>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="custom-btn btn-1 ">Змінити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
