{% extends "base.html" %}
{% load i18n %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p>Ми відправили вам інструкції для встановлення пароля, якщо обліковий запис з введеною адресою існує.
                    Ви маєте отримати їх найближчим часом.

                    Якщо Ви не отримали електронного листа, переконайтеся, будь ласка, в зареєстрованій адресі і
                    перевірте папку "Спам".</p>
            </div>
        </div>
    </div>


{% endblock %}
